@charset "UTF-8";
/*노말라이즈*/
body, ul, li {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   color: black;
   text-decoration: none;
}
a:hover {
   color: black;
   text-decoration: none;
}
/*라이브러리*/
html, body {
   overflow-x: hidden;
}

.dcom-con {
   margin: 0 auto;
}

.dcom-row::after {
   content: "";
   display: block;
   clear: both;
}

.dcom-cell {
   float: left;
}

.dcom-img-mainbox img {
   display: block;
   width: 100%;
}

.slick-prev::befor{
	color: black;
	font-size: 36px;
}

/*커스텀*/
.dcom-con {
   max-width: 100%;
}


/* .dcom-side-menu-button .dcom-img-box {
   width: 50px;
   
} */

/*상단 배너 박스*/
.dcom-top-bn-box {
   margin-top: 60px;
}

@media ( max-width :800px) {
   .dcom-top-bn-box .img-box {
      margin-left: -50%;
   }
}

/*리스트 바*/
/*리스트 사이즈*/
.dcom-prod-list-bar{
   padding: 20px;
}
.dcom-prod-list-bar .dcom-prod-list-box>ul>li {
   width: calc(100%/ 5);
   box-sizing: border-box;
   padding: 0 5px;
   margin-top: 10px;
   
}

.dcom-prod-list-bar .dcom-prod-list-box>ul {
   margin: 0 -10px;
}
/* 리스트 반응형 사이즈*/
@media ( max-width :1000px) {
   .dcom-prod-list-bar .dcom-prod-list-box>ul>li {
      width: calc(100%/ 4);
   }
}

@media ( max-width :800px) {
   .dcom-prod-list-bar .dcom-prod-list-box>ul>li {
      width: calc(100%/ 3);
   }
}

@media ( max-width :600px) {
   .dcom-prod-list-bar .dcom-prod-list-box>ul>li {
      width: calc(100%/ 2);
   }
}

@media ( max-width :400px) {
   .dcom-prod-list-bar .dcom-prod-list-box>ul>li {
      width: calc(100%/ 1);
   }
}
/*리스트 제목, 작성자, 작성날짜*/
.dcom-prod-subject,.dcom-prod-writer,.dcom-prod-day {
   font-weight: 400;
   color: black;
   margin-left: 7px;
   font-size: 0.8em;
}
.dcom-prod-subject {
   font-weight: 600;
   color: black;
   margin-left: 7px;
   
}

.dcom-prod-subject {
   font-size: 1.2em;
}
.dcom-prod-writer,.dcom-prod-day {
   font-size: 0.8em;
}


/* 리스트 강조*/
.dcom-prod-list-bar .dcom-prod-list-box>ul>li>a>.dcom-img-bar {
   overflow: hidden;
   position: relative;
   border-top-left-radius: 10px; border-top-right-radius: 10px;
   border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
   border: 1px solid #ddd;
   padding-top: 75%;
   background-color: black;
}
.dcom-img-bar .dcom-img-box {
   position: absolute; top: 0; left: 0; right: 0; bottom: 0; 
   -webkit-transform: translate(50%,50%); 
   -ms-transform: translate(50%,50%); 
   transform: translate(50%,50%);
   border-top-left-radius: 7px; border-top-right-radius: 7px;
}
.dcom-img-bar .dcom-img-box img {
   position: absolute; top: 0; left: 0; width: auto; height: 100%; object-fit: cover;
   -webkit-transform: translate(-50%,-50%); 
   -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);

}
/* 리스트 강조-배경*/
.dcom-prod-list-bar .dcom-prod-list-box>ul>li>a>.dcom-img-bar::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: black;
   opacity: 0;
   transition: opacity 0.5s;
   z-index: 1;
   
}

.dcom-prod-list-bar .dcom-prod-list-box>ul>li:hover>a>.dcom-img-bar::before
   {
   opacity: 0.5;
   
}
/* 리스트 강조-view*/
.dcom-prod-list-bar .dcom-prod-list-box>ul>li>a>.dcom-img-bar::after {
   content: "VIEW";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   border: 3px solid white;
   padding: 5px;
   opacity: 0;
   transition: opacity 0.5s;
   border-radius: 10px;
   z-index: 2;
   
}

.dcom-prod-list-bar .dcom-prod-list-box>ul>li:hover>a>.dcom-img-bar::after
   {
   opacity: 1;
   
}

/* 검색창 */
.dcom-search-bar{
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
}

.dcom-search-box{
	background-color: #eee;
	padding : 20px;
	margin-bottom: 30px;
}

.dcom-search-btn, .dcom-write-btn{
	width: 90px;
	height: 32px;
	border-radius: 6px;
	background-color: #0685C9;
	color: white;
	border: 0;
}

.dcom-write-btn{
	top: 30px;
}

.dcom-tc{
	color: #999;
	font-size: 0.8em;
	margin-bottom: 8px;
}

.dcom-write-box{
	position: relative;
	left: 500px;
}

/* 검색창 */

/* 슬라이드바 */
.slideline {
   opacity: 0.1;
}
.dcom-slide-bar {
   padding: 10px 5%;
   
}
.slide-img-bar {
   margin-top: 20px;
   border: 1px solid #ddd;
   border-top-left-radius: 10px; border-top-right-radius: 10px;
   border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
   width: 97%;
   overflow: hidden;
   position: relative;
   padding-top: 75%;
   background-color: black;
   
}

.slide-img-bar .slide-txt-box {
	position: relative; 
	max-width: 100%;
	display: block; 
	white-space: nowrap;
	background-color: #eee;
	padding: 10px;
}

.slide-img-bar .slide-img-box {
   position: absolute; top: 0; left: 0; right: 0; bottom: 0; 
   -webkit-transform: translate(50%,50%); 
   -ms-transform: translate(50%,50%); 
   transform: translate(50%,50%);
   border-top-left-radius: 7px; border-top-right-radius: 7px;
}
.slide-img-bar .slide-img-box img {
   position: absolute; top: 0; left: 0; width: auto; height: 100%; object-fit: cover;
   -webkit-transform: translate(-50%,-50%); 
   -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);

}
.dcom-slide>a>.slide-img-bar::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: black;
   opacity: 0;
   transition: opacity 0.5s;
   z-index: 1;
   
}
.dcom-slide:hover>a>.slide-img-bar::before
   {
   opacity: 0.5;
   
}
.dcom-slide>a>.slide-img-bar::after {
   content: "VIEW";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   border: 3px solid white;
   padding: 5px;
   opacity: 0;
   transition: opacity 0.5s;
   border-radius: 10px;
   z-index: 2;
}

.dcom-slide:hover>a>.slide-img-bar::after
   {
   opacity: 1;
}


/* 페이징 */
.page-bar{
   margin: 0 auto;
   text-align: center;
}
.page-box{
   max-width: 100%;
}
/* 페이징 */
